extends layout

block content
    .app
        h1 Konfigurator app
        .main
            .user-option
                each object in ui
                    div.p-3
                        h1.display-6.text-start
                            =object.name[1] + ' '
                            span.badge(style='background: orange;' id=object.name[0] + '-choose') Wähle etwas aus
                            span.badge.visually-hidden(style='background: green;' id=object.name[0] + '-okay') OK
                        each col in object.elements
                            .form-check.form-check-inline
                                input.form-check-input(type='checkbox' value='option1' id='literal-' + col[0] onchange='checkAll()')
                                label.form-check-label(for='literal-' + col[0])=col[1]
