doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script.
            window["frontendData"] = !{JSON.stringify(configuration)};
        script(src='/javascripts/common.min.js' id="common-js" data-main="/javascripts/runtime.js")
        style.
            body {
                background: darkslateblue;
            }

            .app {
                margin: 3em 20em 7em 20em;
            }

            .main {
                margin-top: 4em;
            }

            .user-option {
                color: white;
            }

            h3 {

            }

            h1, h3 {
                text-align: center;
                color: white;
            }
    body
        block content
        script(src="/javascripts/bootstrap.bundle.min.js")
